section {
    padding: 2rem;
}

.logo_container {
    width: 100px;
}

.hamburger-menu {
    margin-left: auto;
}

.hamburger-menu img{
    width: 20px;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    padding-top: 300px;
}

.returnal_container {
    width: 60%;
}

.my_card img{
    object-fit: contain;
}