.logo_container {
    width: 100px;
}

.hamburger-menu {
    margin-left: auto;
}

.hamburger-menu img{
    width: 20px;
}

.jumbotron {
    padding-top: 300px;
}

.returnal_container {
    width: 60%;
}